:dev: false
:loglevel: debug
:irc:
   :enabled: true
:jabber:
   :enabled: true
:mumble:
   :enabled: true
:telegram:
   :enabled: true
   :token: ''
:redis:
   :host: 127.0.0.1
   :port: 7777
:database:
   :host: 10.1.0.48
   :database: 'bridge'
   :user: 'root'
   :password: ''
:enabled_services:
   - irc
   - telegram
   - jabber
