:irc:
   :enabled: true
:jabber:
   :enabled: true
:mumble:
   :enabled: true
:telegram:
   :enabled: true
   :token: 'API-KEY'
:redis:
   :host: 10.1.0.48
   :port: 7777
:database:
   :host: 10.1.0.48
   :database: 'bridge'
   :user: 'root'
   :password: ''
